<h1>Stupid Coaching</h1>
<p id="you"><%= @ask %></p>
<p id="author">-You</p>

<div id="answer">
  <p id="coach"><%= @answer %></p>
  <p id="author">-Your coach</p>
</div>
<%= link_to "Ask a new question", ask_path %>
