h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
}

#you {
  font-family: Arial, Helvetica, sans-serif;
}

#author {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
}

#coach {
  font-family: Arial, Helvetica, sans-serif;
}

#answer {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #FFFFE1;
}
